{# navigation #}
<a href="{% url 'home:home' %}">Home</a>
<a href="{% url 'home:posts' %}">Posts</a>
<a href="/admin/">Admin</a>
<!-- navigation end -->

{# previous and next #}
<p>
{% if prev %}
<a href="{% url 'home:detail' prev.id %}">Previous</a>
{% else %}
<a>No more previous</a>
{% endif %}
{% if next %}
<a href="{% url 'home:detail' next.id %}">Next</a>
{% else %}
<a>No more next</a>
{% endif %}
</p>
<!-- Previous and next end -->

{# Main content #}
{% autoescape off %} 
<h2>{{ post.title }}</h2>
<p>{{ post.created_on }} by {{ post.author }}</p>
<hr />
<p>{{ post.content }}</p>
<hr />
{% endautoescape %}
{# Main content ending #}

{# previous and next #}
{% if prev %}
<a href="{% url 'home:detail' prev.id %}">Previous</a>
{% else %}
<a>No more previous</a>
{% endif %}
{% if next %}
<a href="{% url 'home:detail' next.id %}">Next</a>
{% else %}
<a>No more next</a>
{% endif %}

{# comments #}
{% if post.approve_comment %}
<p>Comments:</p>
{% include "home/addcomment.html" %}

{# <p><a href="{% url 'home:addcomment' post.id %}">Add comment</a></p> #}

{# display comments #}
{% for comment in post.comments.all %}
<p>{{ comment.created_on }} by {{ comment.author }}</p>
<p>{{ comment.text }}<br /></p>
{% empty %}
<p>No comments yet :(</p>
{% endfor %}
{% else %}
<p>Comment is not approved to this article.</p>
{% endif %}
