{% include "home/header.html" %}
{% include "home/navigation.html" %}

{# posts list and discrib #}
{% load static %}
<img src="{% static 'home/img/lufy-org-0.svg' %}"></img>
<!-- <h2> Welcome to lufei's blog</h2> -->

{# previous and next #}
<p>
{% if prev %}
<a href="{% url 'home:home' prev %}">Previous</a>
{% else %}
<a>None</a>
{% endif %}
{% if next %}
<a href="{% url 'home:home' next %}">Next</a>
{% else %}
<a>None</a>
{% endif %}
</p>


{% if posts %}
{% load static %}
{% for post in posts %}
<h3><a href="{% url 'home:detail' post.id %}">{{ post.title }}</a></h3>
<p>{{ post.last_modified }} by {{ post.author }}, {{ post.comments.count }}
comment(s)
</p>
<p>{{ post.get_content_head }}...
<a href="{% url 'home:detail' post.id %}">Full text</a></p>
{% endfor %}
{% else %}
<p>No posts.</p>
{% endif %}

{# previous and next #}
<p>
{% if prev %}
<a href="{% url 'home:home' prev %}">Previous</a>
{% else %}
<a>None</a>
{% endif %}
{% if next %}
<a href="{% url 'home:home' next %}">Next</a>
{% else %}
<a>None</a>
{% endif %}
</p>

{% include "home/footer.html" %}
