{# navigation #}
{% include "home/header.html" %}
{% include "home/navigation.html" %}
<!-- navigation end -->

{# posts list #}
{% if posts %}
{% load static %}
  <table border="1">
  <tr><th>Title</th> <th>Category</th>  <th>Author</th>  <th>Date</th></tr>
  {% for post in posts %}
    <tr>
    <td><a href="{% url 'home:detail' post.id %}">{{ post.title }}</a></td>
    <td>
      {% if post.category %}
        <a href="{% url 'home:categorised_posts' post.category_id %}">{{ post.category }}</a>
      {% else %}
        {{ post.category }}
      {% endif %}
    </td>
    <td>{{ post.author }}</td>
    <td>{{ post.created_on }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>No posts.</p>
{% endif %}
{% include "home/footer.html" %}
<!-- posts list end -->
