{% include "home/base.html" %}
{% if prev %}
<p>
<a href="{% url 'home:test' prev.id %}">Previous</a>
{% else %}
<a>No more previous</a>
{% endif %}
{% if next %}
<a href="{% url 'home:test' next.id %}">Next</a>
{% else %}
<a>No more next</a>
</p>
{% endif %}

{# Main content #}
{% autoescape off %} 
<h2>{{ post.title }}</h2>
<p>by {{ post.author }}</p>
<p>head {{ content_head }} headend</p>
<p>{{ post.content|truncatewords:"100" }}</p>
{% endautoescape %}
{# Main content ending #}


{% if prev %}
<a href="{% url 'home:test' prev.id %}">Previous</a>
{% else %}
<a>No more previous</a>
{% endif %}
{% if next %}
<a href="{% url 'home:test' next.id %}">Next</a>
{% else %}
<a>No more next</a>
{% endif %}
{% include "home/base.html" %}

{% if user.is_authenticated %}
<p> {{ user.username }}</p>
{% endif %}
